<!--
  Generated template for the CategoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Something New</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-card class="card-categories" *ngFor="let category of categories; let i=index" >
    <ion-item class="card-categories-item">
      <ion-label class="card-categories-label">
        {{category.name}}
      </ion-label>

      <ion-toggle color="toggle-color" [checked]="assigned"></ion-toggle>
      <!--ion-checkbox color="primary-light" [checked]="category.assigned"></ion-checkbox-->
    </ion-item>
    <ion-card-content class="card-categories-content" (click)="openCategoryPage(category)">
      <ion-row >
        <ion-col class="card-categories-col" col-6 col-xs *ngFor="let video of category.videos" no-margin>
          <ion-card no-padding no-margin style="width:100%">
            <img src={{video.snippet.thumbnails.medium.url}} />
            <ion-card-content class="card-categories-card-category-content">
              <p class='ellipsis' align="center"><small>{{video.snippet.title}}</small></p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
